html {
    font-size: 62.5%;
    line-height: 1.0;
}

body {
    font-family:Calibri;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.0rem;
}

p {
    font-size: 2.5rem;
}

.header-principal {
    font-family:tahoma;
}

.section-principal {
    font-size: 1.7rem;
}
.nav-principal {
    font-size: 1.5rem;
}
.ul-principal {
    font-size: 1.0rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog  {
    display: inline-block;
    background-color:blue;
    color: white;
}

@media (min-width: 768px) {
    .contenedor-flex {
        display: flex;
        justify-content: space-between;
    }
    .contenido-principal {
        flex-basis: calc(60% - 1rem);
    }
    .sidebar {
        flex-basis: calc(20% - 1rem);
    }
    /*calc() hace un cálculo matemático*/
    /*Ocupa el 60% y el 20% del contenedor respectivamente - 1 rem para dar espacio entre columnas*/
.contacto {
    color:aquamarine
    }
}